/* Global CSS */

.docs-section {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

/* End of Global CSS */

/* Navigation bar */

header .navbar {
  border-bottom: 2px solid #eee;
}

header .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header .navbar .container::after {
  content: unset !important;
}

header .navbar .branding a {
  text-transform: uppercase;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 600;
}

header .navbar .nav-links .navbar-list {
  display: flex;
  margin: 0;
  list-style-type: none;
}

header .navbar ul.navbar-list li.navbar-item {
  margin: 0;
  padding: 1rem;
}

header .navbar ul.navbar-list li.navbar-item a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.toggle-button {
  position: absolute;
  top: 1.3em;
  right: 0.75em;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 4px;
  width: 100%;
  background-color: #0fa0ce;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }

  header .navbar .nav-links {
    width: 100%;
  }

  header .navbar .nav-links ul.navbar-list {
    display: none;
    width: 100%;
  }

  header .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
  }

  header .navbar .nav-links ul.navbar-list.active {
    display: flex;
  }
}
/* End of Navigation bar */

/* Homepage */

.homepage .banner-image {
  background-image: url(https://images.pexels.com/photos/532173/pexels-photo-532173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  display: flex;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.homepage .banner-image .inner-content {
  align-self: center;
  color: #fff;
}

.homepage .banner-image .inner-content h2,
.homepage .banner-image .inner-content h4 {
  font-weight: 500;
}

/* End of Homepage */

/* About ME */

.about-me .profile-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.about-me .profile-img img {
  width: 60%;
}

/* End of About ME */
